<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>
</header>

<main>
  <div>
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <script>
    const ctx = document.getElementById('myChart');
    var rawData = <%- (JSON.stringify(data)); %>;
    new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [{
          label:'Noise Level Mean',
          data: rawData.map( d => ({x:d[0] * 1000, y:d[1]}))
        },
        {
          label:'Noise Level Median',
          data: rawData.map( d => ({x:d[0] * 1000, y:d[2]}))
        }]
      },
      options: {
    scales: {
        x: {
          type: 'time',
          time: {
                    unit: 'minute'
                },
            ticks: {
                maxTicksLimit: 10
            }
        }
    }
}
    });
  </script>
</main>

<footer>
</footer>

</body>
</html>